.about-info {
  padding-top: 70px;
}

.about-title {
  font-size: 100px;
}

.tools-div .tools-card {
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  min-height: 400px;
}

.tools-div .data-card {
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  min-height: 700px;
}
