.twitter-timeline{
   float: right;
}

.news-card{
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 20%;
}

.card-img-top {
  width: 100%!important;
  height: 40%!important;
  object-fit: contain;
}

.card-body{
  object-fit: contain;
}

.specific-charity-img{
    height: 100%;
    width: 200%;
    text-align: left;
}

.specific-charity-info{
    height: 100%;
    width: 400%;
}
