.twitter-timeline{
   float: right;
}

.news-card{
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 20%;
}

.card-img-top {
  margin-top: 20px;
  width: 100%!important;
  height: 30%!important;
  object-fit: contain;
}

.card-body{
  object-fit: contain;
}

body{
  background-color: #87A85C;
}

.jumbotron{
  background-color: #87A85C;
}

.card{
  background-color: #434428;
}

.navbar{
  background-color: #6A6A68;
}

.navbar.sticky-top.navbar-expand-lg.navbar-light{
  color: blue;
}

nav .navbar-nav li a{
  color: white !important;
  }
