.pagination{
    display: block;
    text-align:center !important;
}

.jumbotron{
    margin-bottom: 0;
}

.pagination ul {
    display: inline-block;
    text-align: center !important;
}

.pagination li {
    display: inline-block;
    text-align: center !important;
    cursor: pointer;
}

.pagination li.active {
    font-size: 20px;
     border-bottom:1px solid #000;
}

.pagination a {
    color: black;
    display: inline-block;
    text-align: center !important;
    padding: 8px 16px;
    text-decoration: none;
    outline: none;
}