.NativeSelects-formControl-2{
    margin: 0px !important;
}


label + .MuiInput-formControl-34{
    margin-top: 0px !important;
}

.MuiInput-underline-37:before{
    border-bottom: 1px solid #e2e2e2 !important;
}

.MuiInputBase-input-56, .MuiSelect-icon-32{
    color: #e2e2e2 !important;
}