nav.navbar, .navbar-default {
  background-color: black !important;
}
.navbar-nav{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.navitem{
    margin: 0px 15px;
}

.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-brand {
  color: orange;
}
