nav.navbar, .navbar-default {
  background-color: #232323 !important;
}
.navbar-nav{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.navitem{
    margin: 0px 15px;
}

.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #bcbcbc !important;
}

.navbar-default .navbar-brand {
  color: #ed4e00;
}
